h2 {
  color: WhiteSmoke;
}

p {
  color: #5AEA2E;
  background: #BE2EEA;
  padding: 25px;
}

ul, li {
    font-size: 14px;
    margin-left: 10px;
    padding-bottom: 50px;
    list-style-type: circle;
    color: Crimson;
 }

div {
  /* COMMENT: what properties should divs have? */
}

button {
  padding: 25px;
  color: blue;
}

body {
  background-color: black;
}
