h2 {
  color: WhiteSmoke;
}

p, ul {
  color: green;
  padding: 25px;
}

div {
  /* COMMENT: what properties should divs have? */
}

button {
  padding: 25px;
  color: blue;
}

body {
  background-color: black;
}
